body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.mainHeader,
.execSummary {
  width: 720px;
  font-family: Comic Sans MS;
}

.mainHeader {
  margin: 10px 0 10px 20px;
}

.execSummary {
  margin: 10px 0 30px 20px;
}

