body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.mainHeader,
.execSummary {
  width: 720px;
  font-family: Verdana;
}

.mainHeader {
  margin: 10px 0 10px 20px;
}

.execSummary {
  margin: 10px 0 30px 20px;
}

.execSummary a {
  background-color: lightGray;
  padding: 0 3px 3px 3px;
  color: green;
  border-radius: 5px;
  background-image: -moz-linear-gradient(lightGray, lightGray);
  text-decoration: none;
}

