$moodMessageBackgroundColor: #f2f2f2;
$nickBackgroundColor: brown;
$moodMessageAnimationDuration: 2s;
$moodMessageAnimationLargeScage: scale(2,2);
$moodMessageAnimationNormalScage: scale(1,1);

body {
  background-color: lightGray;
  margin: 0;
  padding: 0;
}

.client {
  background-color: #eee;
  padding: 15px 10px 5px 10px;
  text-align: center;
}

.client .nicks,
.client .moodUpdateInput,
.client .sendMoodUpdate {
  font-size: 13px;
  border-radius: 6px;
}

.client .moodUpdateInput {
  width: 300px;
}

.client .sendMoodUpdate {
  background: -moz-linear-gradient(#669BE1, #5784BF) repeat scroll 0 0 #5784BF;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
  padding: 3px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.users {
  width: 100%;
  margin: 0;
  padding: 0;
}

.user {
  height: 180px;
}

.user .pic {
  width: 200px;
}

.user .nickAndTimestampContainer {
  width: 150px;
  text-align: right;
  padding: 13px 0 0 0
}

.user .nickContainer {
  margin: 0 0 10px 0;
}

.user .nick,
.user .moodMessage {
  box-shadow: 5px 4px 5px #333333;
}

.user .nick {
  background-color: $nickBackgroundColor;
  color: white;
  font-size: 30px;
  margin: 0 25px 8px 25px;
  padding: 3px 13px;
  border-radius: 15px;
  background-image: -moz-linear-gradient($nickBackgroundColor, $nickBackgroundColor);
}

.user .updatedAt {
  color: #aaa;
  font-size: 10px;
  margin: 0 20px;
}

.user .moodMessage {
  padding: 15px 25px;
  font-size: 40px;
  font-family: Verdana, Arial, Times New Roman, Helvetica;
  background-color: $moodMessageBackgroundColor;
  border-radius: 15px;
  background-image: -moz-linear-gradient($moodMessageBackgroundColor, $moodMessageBackgroundColor);
}

.moodMessageAnimation {
  transition-duration: $moodMessageAnimationDuration;
  -ms-transition-duration: $moodMessageAnimationDuration;
  -webkit-transition-duration: $moodMessageAnimationDuration;
  -o-transition-duration: $moodMessageAnimationDuration;
  -moz-transition-duration: $moodMessageAnimationDuration;
}

.user .recentlyUpdated {
  @extend .moodMessageAnimation;
  transform: $moodMessageAnimationLargeScage;
  -ms-transform: $moodMessageAnimationLargeScage; /* IE 9 */
  -webkit-transform: $moodMessageAnimationLargeScage; /* Safari and Chrome */
  -o-transform: $moodMessageAnimationLargeScage; /* Opera */
  -moz-transform: $moodMessageAnimationLargeScage; /* Firefox */
}

.user .undoRecentlyUpdated {
  @extend .moodMessageAnimation;
  transform: $moodMessageAnimationNormalScage;
  -ms-transform: $moodMessageAnimationNormalScage; /* IE 9 */
  -webkit-transform: $moodMessageAnimationNormalScage; /* Safari and Chrome */
  -o-transform: $moodMessageAnimationNormalScage; /* Opera */
  -moz-transform: $moodMessageAnimationNormalScage; /* Firefox */
}

.user .aboutToDie {
  background-color: red;
}

.user .quiteBad {
  background-color: #f778a1;
}

.user .okish {
  background-color: lightYellow;
}

.user .quiteHappy {
  background-color: #82cafa;
}

.user .freakinEcstatic {
  background-color: lightGreen;
}

.users .separator {
  height: 1px;
  background-color: $nickBackgroundColor;
}

