body {
  background-color: lightGray;
  margin: 0;
  padding: 0; }

.client {
  background-color: #eee;
  padding: 15px 10px 5px 10px;
  text-align: center; }

.client .nicks,
.client .moodUpdateInput,
.client .sendMoodUpdate {
  font-size: 13px;
  border-radius: 6px; }

.client .moodUpdateInput {
  width: 300px; }

.client .sendMoodUpdate {
  background: -moz-linear-gradient(#669be1, #5784bf) repeat scroll 0 0 #5784bf;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
  padding: 3px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }

.users {
  width: 100%;
  margin: 0;
  padding: 0; }

.user {
  height: 180px; }

.user .pic {
  width: 200px; }

.user .nickAndTimestampContainer {
  width: 150px;
  text-align: right;
  padding: 13px 0 0 0; }

.user .nickContainer {
  margin: 0 0 10px 0; }

.user .nick,
.user .moodMessage {
  box-shadow: 5px 4px 5px #333333; }

.user .nick {
  background-color: brown;
  color: white;
  font-size: 30px;
  margin: 0 25px 8px 25px;
  padding: 3px 13px;
  border-radius: 15px;
  background-image: -moz-linear-gradient(brown, brown); }

.user .updatedAt {
  color: #aaa;
  font-size: 10px;
  margin: 0 20px; }

.user .moodMessage {
  padding: 15px 25px;
  font-size: 40px;
  font-family: Verdana, Arial, Times New Roman, Helvetica;
  background-color: #f2f2f2;
  border-radius: 15px;
  background-image: -moz-linear-gradient(#f2f2f2, #f2f2f2); }

.moodMessageAnimation, .user .recentlyUpdated, .user .undoRecentlyUpdated {
  transition-duration: 2s;
  -ms-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  -o-transition-duration: 2s;
  -moz-transition-duration: 2s; }

.user .recentlyUpdated {
  transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  /* IE 9 */
  -webkit-transform: scale(2, 2);
  /* Safari and Chrome */
  -o-transform: scale(2, 2);
  /* Opera */
  -moz-transform: scale(2, 2);
  /* Firefox */ }

.user .undoRecentlyUpdated {
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  /* IE 9 */
  -webkit-transform: scale(1, 1);
  /* Safari and Chrome */
  -o-transform: scale(1, 1);
  /* Opera */
  -moz-transform: scale(1, 1);
  /* Firefox */ }

.user .aboutToDie {
  background-color: red; }

.user .quiteBad {
  background-color: #f778a1; }

.user .okish {
  background-color: lightYellow; }

.user .quiteHappy {
  background-color: #82cafa; }

.user .freakinEcstatic {
  background-color: lightGreen; }

.users .separator {
  height: 1px;
  background-color: brown; }
