body {
  background-color: lightGray;
  margin: 0;
  padding: 0;
}

.users {
  width: 100%;
  margin: 0;
  padding: 0;
}

.users tr {
  height: 180px;
}

.users .pic {
  width: 200px;
}

.users .mood {
  padding: 20px;
  font-size: 35px;
  font-family: Comic Sans MS, Verdana, Arial, Times New Roman, Helvetica;
}

